# Project specific
# .idea
# docs

# PDF files are tracked by Git LFS
!**/*.pdf

# Environment files
**/.env
**/.env.*
!**/.env.example
**/*.xcconfig
*.xcconfig
**/*.secret.*
!**/.secret.example
*.local
*.production

# Cursor
.cursor
.cursorrules
.cursorignore
.cursorconfig

# MacOS
.DS_Store

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.code-workspace
